.one{height: 30px;
box-shadow: 1px 1px 1px black;
background-color: deeppink;}


.nevbar{height:50px;
    box-shadow: 1px 1px 1px  black; 
    background-color: white;
    text-transform: capitalize;
display: flex;
align-items: center; padding-left: 30px;
} 
    .nevbar h1{ color:deeppink} 
.nevbar ul{
display: flex;
gap: 30px;}

input{justify-content: end;}
 button{background-color:crimson; color:white;
border-radius: 5px;
justify-content: end;}
.two{height: 40px;
box-shadow: 1px 1px 1px  black;}
.two ul{display: flex;
gap:40px;
text-transform: capitalize;}

.demo{height:300px; width: 1000px; background-color:lightpink;
     margin-left:100px; align-items: center;
     justify-content: space-between; display: flex;}  
img{justify-content:start;}

.head {display: flex;
justify-content: space-evenly;
gap:10px;} 

h1 {color:crimson}
h3 {color:deeppink}
p{ color:maroon; word-spacing: 8px; text-transform: capitalize;}
.sana {background-color: rgb(240, 190, 190); height:300px; width:1000px; margin-left: 100px;
display: flex; justify-content: space-between;} 
h1{ line-height: 50px;}
.papa{background-image: url(wall.jpeg);height:200px; background-repeat:no-repeat;
background-size: contain; margin-left: 500px; text-align: center;}
.mop{display: flex; justify-content: space-evenly; background-color:antiquewhite; padding: 50px;
     }
h2{color: brown;}
.mop3{padding-top: 70px;}
.fort{ display: flex; justify-content: space-evenly; padding: 50px;}
.fort1{ display: flex;justify-content: space-evenly;}

